@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #0b2c4e;
    height: 100vh;
    width: 100vw;
}

/* .todos {
    height: 100%;
    width: 30rem;
    background-color: pink;
}


#title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
}

.todo {

    position: relative;
    background-color: #08335e;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.todo .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    border-radius: 999px;
    background-color: white;
}

.todo.complete .checkbox {
    background-color: black;
}

.todo.complete .text {
    text-decoration: line-through;
}

.todo .delete-todo {
    color: white;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    background-color: #0b2136;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
} */