@tailwind base;
@tailwind components;
@tailwind utilities;


#title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
}

.todo {
    position: relative;
    background-color: #08335e;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 16px;
}
